<ion-view title="Lag" id="page4" class=" ">
    <ion-content padding="false" class="has-header">
        <div class="list card " id="lag-card21">
            <ion-item class="item-avatar  " id="lag-list-item9">
                <h2>Lagnamn</h2>
                <p>Divison ..</p>
            </ion-item>
            <div class="item item-body " id="lag-list-item-container1">
                <p id="lag-markdown1" style="margin-top:0px;color:#000000;" class=" ">Spelare 1, Spelare 2</p>
            </div>
            <ion-item class="item-divider " id="lag-list-item-divider3">Spellista för laget</ion-item>
            <div id="lag-button-bar3" class=" button-bar ">
                <button id="lag-button18" class=" button button-energized button-small button-block ">D</button>
                <button id="lag-button19" class=" button button-energized button-small button-block ">T</button>
                <button id="lag-button20" class=" button button-energized button-small button-block ">B</button>
                <button id="lag-button21" class=" button button-energized button-small button-block ">H</button>
                <button id="lag-button22" class=" button button-energized button-small button-block ">B</button>
                <button id="lag-button23" class=" button button-energized button-small button-block ">R</button>
            </div>
        </div>
    </ion-content>
</ion-view>