<ion-view title="Resultat" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="resultat-list8" class=" ">
            <ion-item class="item-divider " id="resultat-list-item-divider1">Division 1</ion-item>
        </ion-list>
        <div id="resultat-button-bar1" class=" button-bar ">
            <a ui-sref="tabsController.lag" id="resultat-button8" class=" button button-energized  button-block ">L</a>
            <button id="resultat-button9" class=" button button-energized  button-block ">S</button>
            <button id="resultat-button10" class=" button button-energized  button-block ">V</button>
            <button id="resultat-button14" class=" button button-energized  button-block ">F</button>
            <button id="resultat-button17" class=" button button-energized  button-block ">P</button>
        </div>
        <ion-list id="resultat-list9" class=" ">
            <ion-item class="item-divider " id="resultat-list-item-divider2">Division 2</ion-item>
        </ion-list>
    </ion-content>
</ion-view>