<ion-view title="Signup" id="page10" class=" ">
    <br>
    <br>
        <form id="signup-form6" class="list " ng-submit="signUp()">
            <ion-list id="signup-list6" class=" ">
                <label class="item item-input " id="signup-input11">
                    <input type="text" ng-model="user.team" placeholder="Lagnamn">
                </label>
                <label class="item item-input " id="signup-input12">
                    <input type="text" ng-model="user.email" placeholder="E-post">
                </label>
                <label class="item item-input " id="signup-input13">
                    <input type="password" ng-model="user.password" placeholder="Lösenord">
                </label>
            </ion-list>
            <button id="signup-button16" class=" button button-stable  button-block "  type="submit">Sign up!</button>
        </form>
    
</ion-view>
